.tabla{
    margin: 20px;
    border: #007bff;
    border-style: groove;
}

.table {
    width: 100%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse;
    background-color: #fff;
    text-align: center;
}

/* Estilo para el encabezado */
.table thead th {
    background: linear-gradient(blue, rgb(122, 179, 209)); /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    font-weight: bold;
    text-align: center;
}

.table td img {
    border-radius: 15px;
    min-height: 100px;
    min-width: 150px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-color: #007bff;
}

footer {
    text-align: center;
    padding: 5%;
    background-color: #007bff;
    color: white;
    width: 100%;
    font-size: 14px;
    position:static; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Colócalo en la parte inferior de la ventana */
<<<<<<< Updated upstream
}

.grafica {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: #007bff;
    margin: 20px
}

#myChart {
    max-width: 100%; /* Asegura que el canvas no se desborde del contenedor */
    max-height: 100%; /* Asegura que el canvas no se desborde del contenedor */
}
button{
    border: #007bff;
    border-style: groove; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
      
}
.Ver{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Ver:hover{
    color: #000000;
    background-color: gray;
}

.Eliminar{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.Eliminar:hover{
    color: #ff0000;
    background-color: gray;
=======
    z-index: 1000; /* Asegúrate de que esté por encima de otros contenidos */
}

#sugerencias {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
}
#sugerencias li {
    padding: 10px;
    cursor: pointer;
}
#sugerencias li:hover {
    background-color: #f0f0f0;
}

#search-container {
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}
#actor-search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #000;
}
#search-results {
    cursor: pointer;
}
#search-results div {
    padding: 5px;
    border-bottom: 1px solid #eee;
}
#search-results div:hover {
    background-color: #f0f0f0;
}
#actor-details {
    margin-top: 20px;
    padding: 15px;
    border: 3px solid #007bff;
    border-radius: 15px;
}
#actor-details img {
    max-width: 200px;
    border-radius: 5px 50px 5px 50px / 50px 15px 50px 15px; 
    
>>>>>>> Stashed changes
}