.contenedor-app{
    background-image: url("invitacion-boda-fondo-acuarela-abstracta-pintada-mano-minimalista-creativa_297030-2355.png");
}
.tabla{
    margin: 20px;
}

.table {
    width: 100%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse;
    background-color: #fff;
    text-align: center;
}

.table tbody{
    border: #007bff;
    border-style: groove;
}
/* Estilo para el encabezado */
.table thead th {
    background: linear-gradient(blue, rgb(122, 179, 209)); 
    color: white; /* Color de texto blanco */
    font-weight: bold;
    text-align: center;
    border: #007bff;
    border-style: groove;
}

.table td img {
    border-radius: 15px;
    min-height: 100px;
    min-width: 150px;
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-color: #007bff;
}

footer {
    text-align: center;
    padding: 5%;
    background-color: #007bff;
    color: white;
    width: 100%;
    font-size: 14px;
    position:static; /* Fija el pie de página en la parte inferior */
    bottom: 0; /* Colócalo en la parte inferior de la ventana */
}

.grafica {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-color: #007bff;
    margin: 20px
}

#myChart {
    max-width: 100%; /* Asegura que el canvas no se desborde del contenedor */
    max-height: 100%; /* Asegura que el canvas no se desborde del contenedor */
}

button{
    border: #007bff;
    border-style: groove; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.Ver{
    -webkit-box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    -moz-box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all 500ms ease; 
}

.Ver:hover{
    color: #ffffff;
    background-color: rgba(10, 28, 189, 0.747);
}

.Eliminar{
    -webkit-box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    -moz-box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 500ms ease; 
}

.Eliminar:hover{
    color: #ffffff;
    background-color: #ff0000;
}


#sugerencias {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
}
#sugerencias li {
    padding: 10px;
    cursor: pointer;
}
#sugerencias li:hover {
    background-color: #f0f0f0;
}

#search-container {
    margin: 20px;
}

#actor-search {
    width: fit-content;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #000;
    margin: 20px;
}
#search-results {
    cursor: pointer;
    background-color: white;
}
#search-results div {
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.result{
    background-color: #ffffff;
    border: #007bff;
    border-style: groove;
    text-align: left;
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 50px;
}
.texto2{
    text-align: right;
}

.bot{
    margin-top: 10px;
}

.result img{
    margin-right: 100px;
}

#search-results div:hover {
    background-color: #f0f0f0;
}
#actor-details {
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
}
#actor-details img {
    max-width: 200px;
    border-radius: 5px 50px 5px 50px / 50px 15px 50px 15px; 
    border: 5px double #c21a1a;
    border-width: 10px 7px 10px;
}

#parrafo-busqueda {
    background: linear-gradient(blue, rgb(122, 179, 209)); /* Color de fondo degradado en el texto aqui la busqueda... */ 
    color: white;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(4, 2, 2, 0.84);
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 10px 20px 50px;
    border: 5px solid #0d6efd;
    border-radius: 7px;
    width: 80%;
    max-width: fit-content;
    height:fit-content;
    overflow-y: auto;
    position: relative;
    background-image: url("invitacion-boda-fondo-acuarela-abstracta-pintada-mano-minimalista-creativa_297030-2355.png");
    background-size: cover;
}

.close {
    color: #aaa;
    position: absolute;
    top: 2px;
    right: 20px;
    max-width: 30px;
    max-height: 30px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

#modalTitle {
    text-align: center;
    display: block;
    margin-top: 25px;
}

.actor-details ul {
    list-style-type: none;
}

.actor-details h2 {
    text-align: center;
}

.actor-details .actor-details-img {
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
}

.actor-details .actor-details-img img {
    border-radius: 5px 50px 5px 50px / 50px 15px 50px 15px;
    border: 5px double #c21a1a;
    border-width: 10px 7px 10px;
}

.texto {
    text-align: center;
    width: 280px;
    align-items: right;
    margin-left: 300px;
    margin-top: -350px;
    border-style: double;
    border-color: #007bff;
    border-radius: 5px 50px 5px 50px / 50px 15px 50px 15px;
    padding: 20px;
    background-color: #ffffff;
}

.confirmation-modal{
    display: block;
    text-align: center;
}

.confirmation-modal button{
    -webkit-box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    -moz-box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    box-shadow: 5px 8px 30px 1px rgba(24, 35, 182, 1);
    margin-left: auto;
    margin-right: auto;
    transition: all 500ms ease; 
}

.confirmation-modal .cancelar:hover{
    color: #ffffff;
    background-color: rgba(10, 28, 189, 0.747);
}

.confirmation-modal .confirmar:hover{
    color: #ffffff;
    background-color: #ff0000;
}