.tabla{
    margin: 20px;
    border: #007bff;
    border-style: groove;
}

.table {
    width: 100%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse;
    background-color: #fff;
}

/* Estilo para el encabezado */
.table thead th {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    font-weight: bold;
    text-align: center;
}

.table td img {
    border-radius: 15px;
    height: auto;
    width: auto;
    display: block;
}

.table td .actor-name {
    font-weight: bold;
    margin-left: 50%;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    width: 100%;
    font-size: 14px;
}